<%- include('../partials/header') %>

<body>
    <br>
    <br>
<%- include('../partials/hideBrowse') %>  
    <main class="container-fluid">
        <% if(Array.isArray(listings) && listings.length > 0) { %>
        <% listings.forEach((listing) => { %>
            <tr> 
                <td><a href="/browse/<%= listing.id %>">
                    <%= listing.name %>
                </a></td>
                <td><%= listing.id %></td>
                <td><%= listing.location %></td>
                <td><%= listing.tags %></td>
                <td><%= listing.content %></td>
            </tr>
        <% }) %>
    <% } %>
    </main>
</body>


