<h3>Welcome to your PROFILE</h3>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            <% if(Array.isArray(listings) && listings.length > 0) { %>
                <% listings.forEach((listing) => { %>
                    <tr> 
                        <td><a href="//<%= listing.id %>">
                            <%= listing.name %>
                        </a></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
  </div> 