<%- include('../partials/header') %>
<br>
<body>
    <%- include('../partials/hideProfile') %>  
    <main>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody>
                    <% if(Array.isArray(user.listings) && user.listings.length > 0) { %>
                        <% user.listings.forEach((listing) => { %>
                            <tr> 
                                <td><a href="/listings/listing/<%= listing.id %>">
                                    <td><%= listing.name %></td>
                                    <td><%= listing.location %></td>
                                    <td><%= listing.content %></td>  
                                </a></td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div> 
    </main>
</body>


